name: Ruff
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --select I --fix --diff
      - run: ruff format --diff
